html {
	background-color: white;
}
body {
	font-family: Montserrat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
}
h3 {
	margin: 10px 0px;
}
span {
	font-weight: bolder;
}
hr {
	width: 75%;
	margin-top: 10px;
	margin-bottom: 20px;
}
.skills .skills-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.skills-list div {
	height: 40px;
	margin: 15px;
}
.skills-list img {
	max-height: 50%;
}
#about {
	display: flex;
	flex-wrap: wrap;
}
.profile-pic {
	width: 200px;
	border-radius: 50%;
}
.background-info {
	width: 35%;
	min-width: 300px;
	flex-grow: 1;
}
#experience li {
	margin: 5px;
}
.contact-info {
	text-align: center;
}